* {
  padding:0;
  margin:0;
}

html {
  font-size:18px;
  line-height:1.4;
  font-family:Helvetica;
}

.container {
  width:960px;
  margin:0 auto;
}

@media only screen and (max-width:1024px){
  .container {
    width:100%;
  }
}

@media only screen and (max-width:552px){
  .container {
    width:100%;
  }
}

/* Header */

header {
  background-image:url("../Pics/glasses-bg.png");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  height:30rem;
  width:100%;
}

@media only screen and (max-width:1024px){
  header {
    height:22rem;
  }
}

@media only screen and (max-width:552px){
  header {
    height:17rem;
    background-position:20%;
  }
}

/* Top Box */
.container .head-box-top {
  display:flex;
  justify-content:space-between;
  padding:0 2rem;
  background-color:cadetblue;
  color:white;
  position:relative;
  top:1rem;
  align-items:center;
  margin-bottom:10rem;
}

@media only screen and (max-width:1024px){
   .container .head-box-top{
     position:relative;
     top:0;
     margin-bottom:5rem;
  }
}

@media only screen and (max-width:1024px){
   .container .head-box-top{
     position:relative;
     top:0;
     margin-bottom:9rem;
  }
}

.head-box-left {
  display:inline-flex;
  align-items:center;
  width:15rem;
}

.head-box-left img {
  height:1.5rem;
  padding-right:1rem;
}

@media only screen and (max-width:552px){
  .head-box-left span {
    display:none;
  }
}

.head-box-right ul {
  display:inline-flex;
  flex-direction:row;
}

.head-box-right ul li {
  padding:1rem 0 1rem 2rem;
}

.head-box-right-alt {
  display:none;
}

@media only screen and (max-width:552px){
  .head-box-right {
    display:none;
  }
  .head-box-right-alt {
    display:inline;
    padding:1rem 0 1rem 0;
  }
}

/* Bottom Box */
.container .head-box-bottom-container {
  display:flex;
  justify-content:flex-end;
}

.container .head-box-bottom-container .head-box-bottom {
  font-weight:bold;
  font-size:2rem;
  line-height:1.2;
  background-color:white;
  padding:1.5rem 5rem;
  position:relative;
  left:2rem;
}

@media only screen and (max-width:1024px){
  .container .head-box-bottom-container .head-box-bottom {
    font-size:1.33rem;
    margin-right:2rem;
    padding:.75rem 4rem;
  }
}

@media only screen and (max-width:552px){
  .container .head-box-bottom-container {
    display:flex;
    justify-content:center;
  }
  .container .head-box-bottom-container .head-box-bottom {
    font-size:1rem;
    padding:1rem 0;
    width:100%;
    position:relative;
    left:0;
    text-align:center;
    margin-right:0;
  }
}

/* Services */

.services .container {
  display:flex;
  justify-content:center;
  height:8rem;
  padding:3rem 0;
}

.service {
  display:inline-flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  margin:0 3rem;
  text-align:center;
}

@media only screen and (max-width:552px){
  .services .container {
    font-size:.77rem;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin:3.77rem 0;
    height:auto;
    padding:0;
  }
  .service {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    text-align:center;
  }
  .service img{
    margin-bottom:.5rem;
  }
  .ruler {
    margin:1.54rem 0;
  }
}

.paper img {
  width:3.5rem;
}

.ruler img {
  width:5rem;
}

.truck img {
  width:5rem;
}

             /* Info */

.info .container {
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  margin-bottom:5rem;
}

.info-box {
  display:inline-flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-start;
  width:35%;
  margin-right:5%;
}

.info-box .title {
  color:white;
  font-weight:bold;
  background-color:cadetblue;
  width:10rem;
  padding:.5rem 0 .5rem 1.25rem;
  margin-bottom:1rem;
}

@media only screen and (max-width:552px){
  .info .container {
    margin-bottom:0;
    flex-direction:column;
  }
  .info-box {
    width:100%;
    margin-right:0;
    margin-bottom:4rem;
  }
  .info-box .title {
    width:100%;
    text-align:center;
    padding:.5rem 0;
  }
  .info-box span {
    font-size:.77rem;
  }
}

/* Footer */

footer .container {
  background-color:azure;
  display:flex;
  justify-content:flex-start;
  align-items:center;
}

footer .container img {
  height:1.5rem;
  padding:4rem 1rem 4rem 4rem;
}

@media only screen and (max-width:552px){
  footer .container {
    justify-content:center;
  }
  footer .container img {
    padding:4rem 0;
  }
  footer .container span {
    display:none;
  }
}
