* {
  padding:0;
  margin:0;
}

html {
  font-size:18px;
  line-height:1.4;
  font-family:Helvetica;
}

.container {
  width:960px;
  margin:0 auto;
}

/* Header */

header {
  background-image:url("../Pics/glasses-bg.png");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  height:30rem;
  width:100%;
}

/* Top Box */
.container .head-box-top {
  display:flex;
  justify-content:space-between;
  padding:0 2rem;
  background-color:cadetblue;
  color:white;
  position:relative;
  top:1rem;
  align-items:center;
  margin-bottom:10rem;
}

.head-box-left {
  display:inline-flex;
  align-items:center;
  width:15rem;
}

.head-box-left img {
  height:1.5rem;
  padding-right:1rem;
}

.head-box-right ul {
  display:inline-flex;
  flex-direction:row;
}

.head-box-right ul li {
  padding:1rem 0 1rem 2rem;
}

/* Bottom Box */
.container .head-box-bottom-container {
  display:flex;
  justify-content:flex-end;
}

.container .head-box-bottom-container .head-box-bottom {
  font-weight:bold;
  font-size:2rem;
  line-height:1.2;
  background-color:white;
  padding:1.5rem 5rem;
  position:relative;
  left:2rem;
}

/* Services */

.services .container {
  display:flex;
  justify-content:center;
  height:8rem;
  padding:3rem 0;
}

.service {
  display:inline-flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  margin:0 3rem;
  text-align:center;
}

.paper img {
  width:3.5rem;
}

.ruler img {
  width:5rem;
}

.truck img {
  width:5rem;
}

/* Info */

.info .container {
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  margin-bottom:5rem;
}

.info-box {
  display:inline-flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-start;
  width:35%;
  margin-right:5%;
}

.info-box .title {
  color:white;
  font-weight:bold;
  background-color:cadetblue;
  width:10rem;
  padding:.5rem 0 .5rem 1.25rem;
  margin-bottom:1rem;
}

/* Footer */

footer .container {
  background-color:azure;
  display:flex;
  justify-content:flex-start;
  align-items:center;
}

footer .container img {
  height:1.5rem;
  padding:4rem 1rem 4rem 4rem;
}
